<div>
    <p-dropdown [options]="langs" [(ngModel)]="selectedLang" optionLabel="lang_UP" (onChange)="changeLang()"
        [style]="{'background-color' : '--code-background', 'width' : '100px'}">
        <ng-template pTemplate="selectedItem" let-lang>
            <div style="display: flex;" *ngIf="lang.lang">
                <img [src]="'/assets/images/icon/' + lang.lang + '.svg'" style="width: 18px" />
                <div style="color: --code-color;margin-left: 10px;">{{ lang.lang?.toUpperCase() }}</div>
            </div>
        </ng-template>

        <ng-template let-lang pTemplate="item">
            <div style="display: flex;">
                <img [src]="'/assets/images/icon/' + lang.lang + '.svg'" style="width: 18px" />
                <div style="color: --code-color;margin-left: 10px;">{{ lang.lang?.toUpperCase() }}</div>
            </div>
        </ng-template>
    </p-dropdown>
</div>