<div class="card flex flex-col gap-4" style="padding: 2rem;">
    <div class="font-semibold text-xl">🍲 Thưởng thức đặc sản thịt chó ngon chuẩn vị - Thịnh Nhàn</div>
    <div class="flex flex-col mt-5" style="font-size: 15px;">
        <p>Bạn đang tìm quán thịt chó ngon ở <b>Nghệ An</b>? Hãy đến với <b>Thịnh Nhàn</b> - địa chỉ quen thuộc
            của những tín
            đồ yêu thích ẩm thực thịt chó truyền thống.</p>
    </div>

    <div class="flex flex-col gap-2" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <p>
            Thịt chó là món ăn phổ biến tại một số nước châu Á, nó vừa có tính cách bình dân lại vừa được xếp vào hàng
            đặc sản. Ngoài giàu giá trị dinh dưỡng nó còn có một giá trị y học nhất định. Thịt chó có vị mặn, tính ấm và
            giàu đạm. Thịt chó là loại thịt dễ “gây nghiện”, nếu đã biết ăn thịt chó nếu một tháng không ăn một lần thì
            quả là khó, dễ có cảm giác thèm. Ở Việt Nam, theo quan điểm duy tâm, người ta thường ăn thịt chó vào những
            ngày cuối tháng để “giải đen” và nhất là vào những ngày trời se se lạnh thì thịt chó càng được ưa chuộng
        </p>
        <div class="flex justify-center">
            <div class="flex flex-col md:flex-row gap-4">
                <img src="assets/images/main8.jpg" width="400">
                <img src="assets/images/main9.jpg" width="400">
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-2" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <p>
            Thịt chó có thể được chế biến thành nhiều món như: luộc, xáo măng, rựa mận, xào lăn, nướng, lẩu, dồi nướng,
            lòng hấp… Người ta thường hay nói câu cửa miệng “thịt chó 7 món” nhưng thực tế số lượng các món có thể nhiều
            hay ít phụ thuộc vào người đầu bếp. Gia vị chính để chế biến thịt chó là sả, riềng, mẻ và đặc biệt mắm tôm
            là gia vị không thể thiếu. Thịt chó ăn kèm với bánh đa, húng chó, lá mơ, sả…
        </p>

        <div class="flex justify-center">
            <div class="flex flex-col md:flex-row gap-4">
                <img src="assets/images/main11.jpg" width="400">
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-2" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <p>
            Thịt chó nấu rựa mận mang mùi thơm đặc trưng của xả, riềng, mẻ, mắm tôm, rượu, vị ngọt và của đậm của muối,
            bột ngọt. Trong khi đó thịt chó hấp sau khi được tẩm ướp cùng với các loại gia vị đặc trưng rồi đem hấp cách
            thủy sẽ giữ được nguyên vẹn mùi vị của thịt chó và các loại gia vị, miếng thịt mềm, thơm, và ngọt nơi đầu
            lưỡi. Mỗi loại đều có một vị ngon, ngọt đặc trưng.
        </p>

        <div class="flex justify-center">
            <div class="flex flex-col md:flex-row gap-4">
                <img src="assets/images/main3.jpg" width="400">
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-2" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <p>
            Trong thịt chó 7 món không thể bì qua thịt chó nướng, thịt chó thái miếng vuông quân cờ ướp muối, đường,
            tiêu, mì chính, nước riềng sả, nghệ, mắm tôm để ngấm. Xiên thịt vào xiên sắt, nướng trên bếp than hoa, miếng
            thịt chín thơm mùi thịt chó quyện với các loại gia vị ướp kỹ càng khiến bạn không thể từ chối.
        </p>
    </div>

    <div class="flex justify-center" pAnimateOnScroll
            enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
            leaveClass="animate-leave fade-out-0">
        <div class="flex flex-col md:flex-row gap-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 w-full">
                <img src="assets/images/main1.jpg" width="400">
                <img src="assets/images/main2.jpg" width="400">
                <img src="assets/images/main4.jpg" width="400">
            </div>
        </div>
    </div>

    <div class="flex justify-center" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <div class="flex flex-col md:flex-row gap-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 w-full">
                <img src="assets/images/main5.jpg" width="400">
                <img src="assets/images/main6.jpg" width="400">
                <img src="assets/images/main7.jpg" width="400">
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-2" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <p>
            Nhưng độc đáo và được thực khách ưu ái hơn cả vẫn là món dồi, nó độc đáo bởi lẽ để làm nên món dồi chó cũng
            tốn không ít “công phu”, từ việc làm sạch lòng chó đến cách chế biến và lựa chọn các nguyên liệu để làm nên
            món dồi. Cá loại gia vị không thể thiếu của món dồi đó là giềng, mẻ, mắm tôm, nước mắm, muối, hành sống, sả,
            lá na, lá bí đao, lá lốt, lá mơ, lá đài bi (còn gọi là cúc tần), húng quế, lá ổi non, húng lìu, chanh ớt,
            vừng, đậu xanh, mỡ nước, thịt lợn nạc, mỡ lợn sống, dầu ăn…để tạo nên món dồi chó khiến cho các thực khách
            ăn xong sẽ phải tấm tắc khen ngon.
        </p>
    </div>

    <div class="flex flex-col gap-2" pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
        leaveClass="animate-leave fade-out-0">
        <p>Chúng tôi chuyên phục vụ các món ăn từ thịt chó đậm đà hương vị quê hương như:</p>
        <p>
            ✅ Dồi chó thơm lừng, béo ngậy, ăn kèm lá mơ.<br />

            ✅ Chả chó nướng riềng mẻ – giòn rụm, đậm vị.<br />

            ✅ Giả cầy thịt chó chuẩn vị Bắc – cay nhẹ, thơm nức.<br />
        </p>

        <p>
            Với <b>nguyên liệu tươi ngon, cách chế biến gia truyền</b> cùng <b>không gian dân dã, ấm cúng, Thịnh
                Nhàn</b> cam
            kết mang đến trải nghiệm ẩm thực khó quên, thích hợp cho các buổi tụ họp, liên hoan, cuối tháng hay
            đầu tháng.
        </p>

        <p><b>Thịnh Nhàn xin kính chào quý khách!</b></p>

        <p>
            Mỗi món ăn là một câu chuyện, mỗi lần gặp gỡ là một kỷ niệm. Cảm ơn quý khách đã chọn chúng tôi là điểm dừng
            chân cho những buổi tụ họp, sum vầy. Hãy cùng thưởng thức hương vị thịt chó truyền thống – đậm đà, khó quên.
        </p>
    </div>
</div>